@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

@font-face {
    font-family: 'Hannari';
    src: local('Hannari'), url('../fonts/HannariMincho-Regular.otf') format('otf');
  }

  .center-video {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #wpmapblock_74afaf53 {
    position: sticky;
  }